node_modules

# Output
.output
.vercel
.netlify
.wrangler
/build
.svelte-kit
/workspace


# OS
.DS_Store
Thumbs.db

# Env
.env.local

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

#IDE


# sst
.sst
